*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width:1100px;
    margin: 0 auto;
    display: flex;
}

.logo{
    width: 20%;
    padding:10px 5px;
    border: 1px dotted black;
    background-color: orange;
    margin-top: 10px;
    display: flex;
    margin-left: 5%;
}

.link{
    width: 60%;
    padding: 10px;
    border: 1px dotted black;
    background-color: orange;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.login{
    width: 20%;
    padding: 10px;
    border: 1px dotted black;
    background-color: orange;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}


.primacolonna{
    height: 200px;
    border: 1px dotted black;
    width: 45%;
    background-color: rgb(148, 62, 112);
    margin-left: 30%;
    
}

.bg-navy{
    background-color: navy;
}

.py-20{
    padding: 20px 0;
}

.bg-lightblue{
    background-color: lightblue;
}

.secondasezione{
    height: 250px;
    border: 1px dotted black;
    width: 400px;
    background-color: pink;
    margin-left: 23%;
}

.terzasezione{
    height: 250px;
    border: 1px dotted black;
    width: 250px;
    background-color: rgb(57, 117, 207);
}

.quartasezione{
    height: 250px;
    border: 1px dotted black;
    width: 250px;
    background-color: pink;
    margin-left: 23%;
}

.quintasezione{
    height: 250px;
    border: 1px dotted black;
    width: 400px;
    background-color: rgb(57, 117, 207);
}

.bg-grey{
    background-color: grey;
}

.riquadrogrande{
    width: 50%;
    height: 400px;
    background-color: green;
    border: 1px dotted black;
    margin-left: 23%;
}

.bg-black{
    background-color: black;
}

.ultimoriquadrorosa{
    height: 250px;
    border: 1px dotted black;
    width: 170px;
    background-color: pink;
    margin-left: 23%;
}

.ultimiriquadriazzurri{
    height: 250px;
    border: 1px dotted white;
    width: 95px;
    background-color: rgb(48, 166, 202);
}


.riquadrofinale{
    width: 550px;
    padding:10px 0px;
    background-color: rgb(48, 166, 202);
    margin-top: 10px;
    display: flex;
    margin-left: 23%;
    justify-content: space-between;
}

.logofinale{
display: flex;
border: 1px dotted black;
background-color: rgb(221, 150, 150);
}

.bottonefinale{
display: flex;
border: 1px dotted black;
background-color: rgb(221, 150, 150);
}